.detailsheader {

}
.photograph {
    position: absolute;
    // display: grid;
    // grid-template-columns: 40% 20% 40%;
    // top: 8rem;
    // width: 1240px;
    // height: 313px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    width: 80%;
    padding: 0 25px;

    &__details {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        position: absolute;
        left: 5px;
        padding-top: 15px;
        width: 60%;

        h1 {
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 47px;
            text-align: left;
            color: #D3573C;
            margin: 0;
        }

        &--localisation {
            font-size: 18px;
            line-height: 17px;
            color: $color__primary1;
            margin: 0;
            text-align: left;
        }

        &--desc {
            font-size: 15px;
            line-height: 13px;
            color: $color__grey-light;
            font-weight: bolder;
            margin: 0;
            padding: 8px;
            text-align: left;
            padding-left: 0;
        }
    }

    &__tag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: .7rem;

        span {
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            text-align: center;
            color: $color__primary1;
            margin-left: 0.2rem;
            border: 1px solid $color__grey-light;
            padding: 0.15rem 0.5rem;
            border-radius: 1rem;
        }
    }

    &__button {
        padding: 40px 0 0 0;

        &--contact {
            background: $color__primary1;
            padding: 8px;
            text-align: center;
            color: $color__secondary2;
            font-weight: bold;
            border-radius: 5px;
            border: 1px solid $color__grey-light;
            width: 120px;
            height: 50px;
            cursor: pointer;

        }
        
    }

    &__img {
        position: absolute;
        // display: flex;
        // justify-content: flex-end;
        right: 5px;

        img {
            clip-path: ellipse(45% 45%);
            object-fit: cover;
            width: 140px;
            height: 140px;
        }
    }
}

.gallery {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    // grid-gap: 1.75rem;
    top: 300px;

    &__img {
        

        &--link {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            

            img {
                // clip-path: ellipse(45% 45%);
                object-fit: cover;
                width: 335px;
                height: 190px;
                border: 1px solid $color__grey-light;
                border-radius: 5px;
            }
        }
        &--footer {
            display: grid;
            grid-template-columns: 85% repeat(2, 1fr);
            grid-template-rows: 1fr;

            h5 {
                margin: 0;
                padding: 10px 0;
                color: $color__primary1;
                font-family: DM Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
            }
    
            span {
                padding: 10px 0;
                font-family: DM Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-align: right;
                color: $color__primary1;
            }

            button {
                background: transparent;
                border: none;
                cursor: pointer;
                color: $color__primary1;
            }

        }
        
    }

}

.contact {
    background: $color__primary1;
    height: 35px;
    width: 150px;
    color: $color__secondary2;
    border-radius: 5px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    top: 85%;
    position: fixed;
    z-index: 9999;
    cursor: pointer;

    &:hover {
        background-color: $color__primary2;
        color: black;
    }
    &:active {
        background-color: #901C1C;
        color: white;
    }
}