//--------------------------------------------------------------
// # Variables
//--------------------------------------------------------------
$color__primary: #901C1C;
$color__secondary: #D3573C;
$color__tertiaire: #525252;

// Color variation according to model
$color__white-light: #FAFAFA; 
$color__secondary-light: #DB8876;
$color__grey-light: #C4C4C4;

$font-family: 'DM Sans';
